@font-face {
    font-family: UnivaNova;
    src: url(OTF/UnivaNova-Regular.otf)
}

@font-face {
    font-family: UnivaNova;
    src: url(OTF/UnivaNova-SemiBold.otf);
    font-weight: bold;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}

@keyframes move-arrow-right {
    0% {
        top: 0;
        left: 0;
    }

    30%,
    60% {}
}


html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;

}

#name {
    font-size: 90px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 80px;
}

body {
    color: #EDF4ED;


    font-family: UnivaNova;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 13%, rgba(34, 24, 28, 1) 100%);
}



.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

a {
    color: #D90429;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #EDF4ED;
}

.navbar-container {
    background: 22181c;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;

    margin: 0px 30px;
}

.navbar-container * {
    display: inline;
}

.navbar-container li {
    margin: 30px;
    cursor: grab;
}


.navbar-items {
    float: right;

}

section {
    margin-top: 50px;
    scroll-margin-top: 20px;
}

.infoText {
    position: relative;
    top: -50px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    opacity: 80%;
    padding: 0px 100px 0px 100px;



}

.aboutMeText {

    border-radius: 5px;
    padding: 30px;
    background-color: #22181C;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.scrollContainer {

    position: relative;
    bottom: 0%;
    left: 48%;
    height: 46px;
    width: 46px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #D90429;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);

}

.scroll {


    position: absolute;
    bottom: -8%;
    left: 29%;
    transform: translate(0, -50%);
    transition: all 0.5s;
    font-size: 20px;


}

.scroll:hover {
    opacity: 0.5;
    cursor: grab;
}

.scroll::before {
    position: absolute;
    top: -10.3px;
    left: -13.4px;
    z-index: -1;
    content: '';
    width: 46px;
    height: 46px;
    box-shadow: 0, 0, 0, 0 rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: pulse 3s infinite;

}

@keyframes pulse {

    0%,
    100% {
        opacity: 0;
    }

    15%,
    45% {
        opacity: 1;

    }

    60% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}


#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 30px 30px 30px 30px;
    padding-top: 30px;
    align-items: center;
}

.skill-name {
    color: #22181C;
    text-align: center;
    padding: 10px 20px;
    background: #fff;

    border-radius: 15px;
    transition: .2s;
}

.skill-name:hover {
    background-color: #D90429;
    color: white;
    cursor: arr;
}

.socialsContainer {

    display: none;
}

.navbar-container span {
    transition: 0.5s ease;

}

.navbar-container span:hover,
.navbar-container span.active {
    color: #D90429;
    cursor: grab;

}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.container {
    height: 400px;
    width: 350px;
    border-radius: 5%;
    background-color: #22181C;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);


}

.container:hover {
    box-shadow: none;
    border: 1px solid transparent;
    border-color: #EDF4ED;

}

.scrollToTopContainer {
    display: none;
    position: fixed;
    bottom: 3%;
    right: 2%;
    height: 44px;
    width: 44px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #D90429;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);


}

.scrollToTop:hover {
    cursor: grab;
    opacity: 0.5;

}


.scrollToTop {
    position: absolute;
    left: 29%;
    top: 15%;
    transition: all 0.5s;
}

.fixButton {
    position: fixed;
}

.relButton{
    position:relative;
}

.hideSocials {
    z-index:2;
    display:none;
    left: 70px;
}
.hideSocialsToggle{
    display:inline;
}
.contact {
    text-align: center;
    padding-bottom: 30px;
}


@media only screen and (max-width:980px) {
    .body {
        display: flex;
        flex-direction: column;
    }

    .hero {
        position: relative;
        padding: 0;

    }

    .sphere {
        display: none;
    }

    .skillContainer {
        top: 50%;
    }

    h2 {
        margin-left: 15px;
        margin-left: 15px;
    }

    .scrollContainer {
        display: none;
    }

    .showSocials {
        z-index: 2;
        margin-left: 33px;

    }


    .socialsContainer {
        height: 100%;
        background-color: black;
        width: 120px;
        position: fixed;
        z-index: 1;
        top: -18px;
        left: 0;
        padding-top: 60px;
    }

    .navLink {
        display: inline-block;
        color: white;
        margin-bottom: 30px;
        margin-top: 80px;
        margin-left: -7px;
    }  
    .hideSocials {
        position:fixed;
    }




}